.productos {
  padding: $spacing-lg;

  .producto {
    margin-bottom: $spacing-lg;
  }
}

.seccion-productos {
  margin-bottom: 4rem;

  .titulo-seccion {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.6rem 1.5rem;

    font-size: 1.2rem;
    font-weight: 600;

    color: white;
    background-color: $color-primario;
    border-radius: 999px;
  }
}




