.card-pilar {
  @include card-base;

  h5 {
    margin-bottom: $spacing-sm;
  }

  p {
    font-size: 0.9rem;
    color: $color-gris;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: $border-radius;
    margin-bottom: $spacing-md;
  }
}
