// Colores
$color-primario: #5c7be2;
$color-secundario: #000;
$color-fondo: #000;
$color-texto: #5c7be2;
$color-gris: #3f3d3d;

// Tipografía
$font-base: 'Poppins', sans-serif;

// UI
$border-radius: 12px;
$transicion-base: 0.3s ease;

// Breakpoints
$break-tablet: 768px;
$break-desktop: 1024px;

// Espaciados
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
